@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF3D64;
}
body {
    height: 100vh;
    background-image: linear-gradient(45deg, #11998e, #38ef7d);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}

.card__container {
    background-color: #242628;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    margin: 0 20px;


}

/* Old method
.card__img {
    width: 120px;
    height: 120px;
    border: 5px solid var(--primary-color);
    border-radius: 50%;
    margin: 15px auto;
    overflow: hidden;
}

.card__img1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    
}
*/

/* New method */

.card__img {
    display: inline-block;
    padding: 6px;
    background: linear-gradient(130deg, #fc00ff, #00dbde);
    border-radius: 50%;
    margin: 20px auto 10px;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
}

.card__img:hover img {
    width: 110%;
    height: 400px;
    border-radius: 0%;
    transform: translateX(-10px) translateY(-26px);

}

.card__img img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 0.4s;

}

@keyframes animated-gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
    
}

h2 {
    font-size: 24px;
    color: #fff;

}

p {
    color: var(--primary-color);
}

.social {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.social a {
    color: #fff;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}

.social a i {
    padding: 10px;
}

.social a::before,
.social a::after {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.4s linear;
}

.social a:hover {
    transform: scale(0.9);
    color: var(--primary-color);
}

.social a:hover::before {
    border-left: 2px solid;
    border-right: 2px solid;
    transform: skewX(20deg);
}

.social a:hover::after {
    border-top: 2px solid;
    border-bottom: 2px solid;
    transform: skewY(-20deg);
}

button {
    padding: 10px 20px;
    background-color: #242628;
    color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    font-size: 14px;
    margin-top: 40px;
    transition: 0.4s;
}

button:hover {
    background-color: var(--primary-color);
}
